
<div class="team-page-content">
    <div class="picture">
        <img mat-card-image src="./../assets/tournamentBG.jpg" />

      <h1>
        {{ tournament?.name }}
        <p>{{ tournament?.description }}</p>
      </h1> 
    </div>
    <div class="description">
        <h1>
            {{ tournament?.name }}
        </h1>
        <div class="tourn-desc">
            <p> Location: {{tournament?.location}}</p>
            <ul>
                <li> 18 Teams</li>
                <li> 2 Categories</li>
                <li> 3 Courts</li>
                <li> 8 Teams awarded</li>
            </ul>

        </div>
        <p> Location: {{tournament?.location}}</p>
        <p> Date: {{tournament?.date | date : 'short'}}</p>
        <p> {{tournament?.description}}</p>

    </div>
</div>
  