<div class="dialog">
  <h1 mat-dialog-title>Update member {{ data.name }}</h1>
  <div mat-dialog-content>
    <form
      class="addPlayerForm"
      [formGroup]="addPlayerForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="fill">
        <mat-label for="name">Name</mat-label>
        <input matInput id="name" formControlName="name" required="" />
      </mat-form-field>
      <mat-form-field class="bday" appearance="fill">
        <mat-label for="birthday">Birthday</mat-label>
        <input
          matInput
          id="birthday"
          formControlName="birthday"
          [matDatepicker]="picker"
          required=""
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="phone">Phone</mat-label>
        <input
          type="text"
          id="phone"
          formControlName="phone"
          matInput
          placeholder="+3610000000"
          required=""
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="playerNumber">Number</mat-label>
        <input
          type="text"
          id="playerNumber"
          formControlName="playerNumber"
          matInput
          placeholder="+3610000000"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="posts">Posts</mat-label>
        <mat-select id="posts" [(value)]="posts" formControlName="posts" required="" multiple>
          <mat-option value="0">Hitter</mat-option>
          <mat-option value="1">Setter</mat-option>
          <mat-option value="2">Libero</mat-option>
          <mat-option value="3">Receiver</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="ticketPass">Ticket/Pass</mat-label>
        <mat-select id="ticketPass" formControlName="ticketPass" required>
          <mat-option value="0">Ticket</mat-option>
          <mat-option value="1">Student Ticket</mat-option>
          <mat-option value="2">Pass</mat-option>
          <mat-option value="3">Student Pass</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="gender">Gender</mat-label>
        <mat-select id="gender" formControlName="gender" required="">
          <mat-option value=0>Man</mat-option>
          <mat-option value=1>Woman</mat-option>
          <mat-option value=2>Other</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button cdkFocusInitial>
        <mat-icon>update</mat-icon>
        Update member
      </button>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="noButton" (click)="onNoClick()">No Thanks</button>
    <button mat-button class="okButton" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>
