<div class="dialog">
  <h1 mat-dialog-title>Update member {{ data.id }}</h1>
  <div mat-dialog-content>
    <form
      class="addPlayerForm"
      [formGroup]="addPlayerForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="fill">
        <mat-label for="name">Name</mat-label>
        <input matInput id="name" formControlName="name" required="" />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="email">Email</mat-label>
        <input
          matInput
          id="email"
          formControlName="email"
          placeholder="Favorite food"
          required
        />
      </mat-form-field>
      <mat-form-field class="bday" appearance="fill">
        <mat-label for="birthday">Birthday</mat-label>
        <input
          matInput
          id="birthday"
          formControlName="birthday"
          [matDatepicker]="picker"
          required=""
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="phone">Phone</mat-label>
        <input
          type="number"
          id="phone"
          formControlName="phone"
          matInput
          placeholder="+3610000000"
          required=""
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="number">Number</mat-label>
        <input
          type="number"
          id="number"
          formControlName="number"
          matInput
          placeholder="+3610000000"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="post">Post</mat-label>
        <mat-select id="post" formControlName="post" required="">
          <mat-option value="Hitter">Hitter</mat-option>
          <mat-option value="Receiver">Receiver</mat-option>
          <mat-option value="Setter">Setter</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="ticket">Ticket</mat-label>
        <mat-select id="ticket" formControlName="ticket" required>
          <mat-option value="StudentTicket">Student Ticket</mat-option>
          <mat-option value="Ticket">Ticket</mat-option>
          <mat-option value="StudentPass">Student Pass</mat-option>
          <mat-option value="Pass">Pass</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label for="gender">Gender</mat-label>
        <mat-select id="gender" formControlName="gender" required="">
          <mat-option value="Man">Man</mat-option>
          <mat-option value="Woman">Woman</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button cdkFocusInitial>
        <mat-icon>update</mat-icon>
        Update member
      </button>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="noButton" (click)="onNoClick()">No Thanks</button>
    <button mat-button class="okButton" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </div>
</div>
