<!-- HERO HEADER -->
<div
  class="relative w-full h-64 sm:h-72 md:h-80 lg:h-[28rem] pt-0 overflow-hidden"
>
  <img
    [src]="'assets/szervezok.jpg'"
    alt="Admin Background"
    class="w-full h-full object-cover object-top"
  />

  <div
    class="absolute inset-0 bg-black bg-opacity-30 flex flex-col justify-end"
  >
    <div
      class="w-full max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-48 text-white"
    >
      <!-- Title -->
      <h1
        class="text-2xl sm:text-4xl md:text-5xl lg:text-6xl font-bold text-shadow-lg mb-3 sm:mb-6"
      >
        Admin Page
      </h1>

      <!-- Chips -->
      <div
        class="flex flex-wrap sm:flex-nowrap justify-center sm:justify-start items-center gap-4 pb-4"
      >
        <app-tab-chip
          label="Events"
          icon="sports_volleyball"
          [active]="selectedTab === 'tournaments'"
          (select)="selectedTab = 'tournaments'"
        ></app-tab-chip>

        <app-tab-chip
          label="Teams"
          icon="groups_2"
          [active]="selectedTab === 'teams'"
          (select)="selectedTab = 'teams'"
        ></app-tab-chip>

        <app-tab-chip
          label="Users"
          icon="groups"
          [active]="selectedTab === 'users'"
          (select)="selectedTab = 'users'"
        ></app-tab-chip>

        <app-tab-chip
          label="Trainings"
          icon="fitness_center"
          [active]="selectedTab === 'training'"
          (select)="selectedTab = 'training'"
        ></app-tab-chip>
      </div>
    </div>
  </div>
</div>

<app-events-management
  *ngIf="selectedTab === 'tournaments'"
></app-events-management>
<app-teams-management *ngIf="selectedTab === 'teams'"></app-teams-management>
<app-users-management *ngIf="selectedTab === 'users'"></app-users-management>
<app-trainings-management
  *ngIf="selectedTab === 'training'"
></app-trainings-management>
<!-- <div
  *ngIf="selectedTab === 'tournaments'"
  class="max-w-screen-xl mx-auto py-10 px-4 lg:px-8"
>
  <div class="px-4 sm:px-6 lg:px-40 mb-12">
    <div class="mb-6">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-bold text-[var(--primary)]">Manage Events</h2>
        <button
          class="bg-[var(--primary)] text-white px-4 py-2 rounded-full shadow hover:bg-[var(--text-dark)] transition"
          (click)="onCreateTournament()"
        >
          + New Tournament
        </button>
      </div>

      <app-event-search-bar
        (searchChanged)="onTournamentSearchChanged($event)"
        class="w-full sm:w-1/2"
      ></app-event-search-bar>
    </div>
    <mat-accordion class="space-y-4 mt-16">
      <mat-expansion-panel
        *ngFor="let tournament of filteredTournaments"
        class="rounded-xl shadow-md hover:shadow-lg border border-gray-200"
        (opened)="loadTournamentTeams(tournament)"
      >
        <mat-expansion-panel-header
          class="bg-gradient-to-br from-white to-gray-50 py-4 px-6"
        >
          <div class="flex items-center justify-between w-full">
            <div class="flex flex-row space-x-4 py-2 items-center align-center">
              <div
                class="text-lg sm:text-xl font-semibold text-[var(--primary)]"
              >
                {{ tournament.name }}
              </div>
              <div class="text-sm text-gray-500">
                {{ tournament.date | date: "longDate" }}
              </div>
            </div>

            <div class="flex items-center">
              <button
                mat-icon-button
                color="primary"
                class="pr-2"
                [routerLink]="['/event', tournament.id]"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                color="accent"
                (click)="editTournament(tournament)"
                matTooltip="Edit Tournament"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="onDeleteTournament(tournament)"
                matTooltip="Delete Tournament"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-expansion-panel-header>

        <div class="p-6 pt-0">
          <div *ngIf="tournament.teams?.length; else noTeams">
            <h3 class="text-lg font-medium text-gray-800 mb-3">Joined Teams</h3>
            <ul class="space-y-2 mb-6">
              <li
                *ngFor="let team of tournament.teams"
                class="flex justify-between items-center bg-white rounded-xl border border-gray-200 px-4 py-2 shadow-sm hover:shadow transition"
              >
                <span class="font-medium text-gray-700">{{ team.name }}</span>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="onRemoveTeamFromTournament(tournament.id, team)"
                  aria-label="Remove team"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </li>
            </ul>
          </div>
          <ng-template #noTeams>
            <p class="text-sm text-gray-400 mb-6 italic">
              No teams registered.
            </p>
          </ng-template>

          <div
            class="flex flex-col sm:flex-row items-start sm:items-center gap-4"
          >
            <mat-form-field appearance="fill" class="w-full sm:w-64">
              <mat-label>Select team</mat-label>
              <mat-select [(value)]="selectedTeam[tournament.id]">
                <mat-option *ngFor="let team of teams" [value]="team.id">
                  {{ team.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button
              mat-raised-button
              color="primary"
              class="px-6 py-2 rounded-full"
              (click)="onAddTeamToTournament(tournament.id)"
              [disabled]="!selectedTeam[tournament.id]"
            >
              Add Team
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div
  *ngIf="selectedTab === 'teams'"
  class="max-w-screen-xl mx-auto py-10 px-4 lg:px-8"
>
  <div class="px-4 sm:px-6 lg:px-40 mb-12">
    <div class="mb-6">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-bold text-[var(--primary)]">Manage Teams</h2>
        <button
          class="bg-[var(--primary)] text-white px-4 py-2 rounded-full shadow hover:bg-[var(--text-dark)] transition"
          (click)="onCreateTeam()"
        >
          + New Team
        </button>
      </div>

      <app-event-search-bar
        (searchChanged)="onTeamSearchChanged($event)"
        class="w-full sm:w-1/2"
      ></app-event-search-bar>
    </div>

    <mat-accordion class="space-y-4 mt-8">
      <mat-expansion-panel
        *ngFor="let team of filteredTeams"
        class="rounded-xl shadow-md hover:shadow-lg border border-gray-200"
        (opened)="loadTeamDetails(team)"
      >
        <mat-expansion-panel-header
          class="bg-gradient-to-br from-white to-gray-50 py-4 px-6"
        >
          <div class="flex items-center justify-between w-full">
            <div class="text-lg sm:text-xl font-semibold text-[var(--primary)]">
              {{ team.name }}
            </div>

            <div class="flex items-center">
              <button
                mat-icon-button
                color="primary"
                [routerLink]="['/team', team.id]"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                color="accent"
                (click)="editTeam(team)"
                matTooltip="Edit Team"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="onDeleteTeam(team)"
                matTooltip="Delete Team"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-expansion-panel-header>

        <div class="p-6 pt-0">
          <h3 class="text-lg font-medium text-gray-800 mb-2">Players</h3>
          <ul class="space-y-2 mb-4">
            <li
              *ngFor="let player of team.players"
              class="flex justify-between items-center bg-white rounded-xl border border-gray-200 px-4 py-2 shadow-sm hover:shadow"
            >
              <span>{{ player.name }}</span>
              <button
                mat-icon-button
                color="warn"
                (click)="removePlayerFromTeam(team.id, player)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </li>
          </ul>

          <div
            class="flex flex-col sm:flex-row items-start sm:items-center gap-4 mb-6"
          >
            <mat-form-field appearance="fill" class="w-full sm:w-64">
              <mat-label>Select player</mat-label>
              <mat-select [(value)]="selectedPlayer[team.id]">
                <mat-option *ngFor="let user of users" [value]="user.id">
                  {{ user.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button
              mat-raised-button
              color="primary"
              class="px-6 py-2 rounded-full"
              (click)="addPlayerToTeam(team.id)"
              [disabled]="!selectedPlayer[team.id]"
            >
              Add Player
            </button>
          </div>

          <h3 class="text-lg font-medium text-gray-800 mb-2">Coaches</h3>
          <ul class="space-y-2 mb-4">
            <li
              *ngFor="let coach of team.coaches"
              class="flex justify-between items-center bg-white rounded-xl border border-gray-200 px-4 py-2 shadow-sm hover:shadow"
            >
              <span>{{ coach.name }}</span>
              <button
                mat-icon-button
                color="warn"
                (click)="removeCoachFromTeam(team.id, coach)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </li>
          </ul>

          <div
            class="flex flex-col sm:flex-row items-start sm:items-center gap-4"
          >
            <mat-form-field appearance="fill" class="w-full sm:w-64">
              <mat-label>Select coach</mat-label>
              <mat-select [(value)]="selectedCoach[team.id]">
                <mat-option *ngFor="let user of users" [value]="user.id">
                  {{ user.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <button
              mat-raised-button
              color="primary"
              class="px-6 py-2 rounded-full"
              (click)="addCoachToTeam(team.id)"
              [disabled]="!selectedCoach[team.id]"
            >
              Add Coach
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div
  *ngIf="selectedTab === 'users'"
  class="max-w-screen-xl mx-auto py-10 px-4 lg:px-8"
>
  <div class="px-4 sm:px-6 lg:px-40 mb-12">
    <div class="mb-6">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-bold text-[var(--primary)]">Manage Users</h2>
        <button
          class="bg-[var(--primary)] text-white px-4 py-2 rounded-full shadow hover:bg-[var(--text-dark)] transition"
          (click)="onCreateUser()"
        >
          + New User
        </button>
      </div>

      <app-user-search-bar
        (searchChanged)="onUserSearchChanged($event)"
        class="w-full sm:w-1/2"
      ></app-user-search-bar>
    </div>

<mat-accordion class="space-y-4 mt-8">
  <mat-expansion-panel
    *ngFor="let user of filteredUsers"
    class="rounded-xl shadow-md hover:shadow-lg border border-gray-200"
    (opened)="loadUserDetails(user)"
  >
    <mat-expansion-panel-header
      class="bg-gradient-to-br from-white to-gray-50 py-4 px-6"
    >
      <div class="flex items-center justify-between w-full">
        <div class="text-lg sm:text-xl font-semibold text-[var(--primary)]">
          {{ user.name }}
        </div>

        <div class="flex items-center">
          <button
            mat-icon-button
            color="accent"
            (click)="editUser(user)"
            matTooltip="Edit User"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="onDeleteUser(user)"
            matTooltip="Delete User"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-expansion-panel-header>

    <div class="p-6 pt-0 text-sm text-gray-700">
      <div class="flex flex-col items-center sm:flex-row gap-6 ">
        <img
          *ngIf="user.pictureLink"
          [src]="user.pictureLink"
          alt="Profile Picture"
          class="w-28 h-28 rounded-full object-cover border border-gray-300 shadow"
        />

        <div class="w-full sm:w-auto">
          <table class="text-left text-sm w-full sm:min-w-[18rem]">
            <tbody>
              <tr>
                <td class="font-medium text-gray-600 pr-4">Name:</td>
                <td>{{ user.name }}</td>
              </tr>
              <tr>
                <td class="font-medium text-gray-600 pr-4">Email:</td>
                <td>{{ user.email }}</td>
              </tr>
              <tr>
                <td class="font-medium text-gray-600 pr-4">Phone:</td>
                <td>{{ user.phone }}</td>
              </tr>
              <tr>
                <td class="font-medium text-gray-600 pr-4">Birthday:</td>
                <td>{{ user.birthday | date }}</td>
              </tr>
              <tr>
                <td class="font-medium text-gray-600 pr-4">Player number:</td>
                <td>{{ user.playerNumber }}</td>
              </tr>
              <tr>
                <td class="font-medium text-gray-600 pr-4">Price Type:</td>
                <td>{{ user.priceType }}</td>
              </tr>
              <tr>
                <td class="font-medium text-gray-600 pr-4">Posts:</td>
                <td>{{ user.posts }}</td>
              </tr>
              <tr>
                <td class="font-medium text-gray-600 pr-4">Gender:</td>
                <td>{{ user.gender }}</td>
              </tr>
              <tr>
                <td class="font-medium text-gray-600 pr-4">Roles:</td>
                <td>{{ user.roles }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
  </div>
</div>


<div
  *ngIf="selectedTab === 'trainings'"
  class="max-w-screen-xl mx-auto py-10 px-4 lg:px-8"
>
  <div class="px-4 sm:px-6 lg:px-40 mb-12">
    <div class="mb-6">
      <div class="flex justify-between items-center mb-6">
        <h2 class="text-3xl font-bold text-[var(--primary)]">Manage Trainings</h2>
        <button
          class="bg-[var(--primary)] text-white px-4 py-2 rounded-full shadow hover:bg-[var(--text-dark)] transition"
          (click)="onCreateUser()"
        >
          + New Training
        </button>
      </div>

      <app-training-search-bar
        (searchChanged)="onUserSearchChanged($event)"
        class="w-full sm:w-1/2"
      ></app-training-search-bar>
    </div>
  </div>
</div> -->
