@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --primary: #7D1A1A;              
  --text-primary: #000000;
  --text-secondary: #7D1A1A;
  --gold: #BD973A;                 
  --bg-beige: #F3E5C6;             
  --text-dark: #444C45;           
  --white: #ffffff;           
}

button {
  font-weight: 500;
  border-radius: 0.375rem; 
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

