<div class="dialog">
    <h1 mat-dialog-title>Update training</h1>
    <div mat-dialog-content>
      <form
        class="addPlayerForm"
        [formGroup]="addTrainingForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field appearance="fill">
          <mat-label for="location">location</mat-label>
          <input matInput id="location" formControlName="location" required="" />
        </mat-form-field>
        <mat-form-field>
          <mat-label for="description">description</mat-label>
          <input
            matInput
            id="description"
            formControlName="description"
            placeholder=""
            required
          />
        </mat-form-field>
        <mat-form-field class="bday" appearance="fill">
          <mat-label for="date">Date</mat-label>
          <input
            matInput
            id="date"
            formControlName="date"
            [matDatepicker]="picker"
            required=""
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="participants">participants</mat-label>
          <mat-select  id="participants" formControlName="participants" required="" multiple>
            <mat-option *ngFor="let p of participants" [value]="p.id">{{p.name}}</mat-option>
          </mat-select>
        </mat-form-field>

  
        <button mat-raised-button cdkFocusInitial>
          <mat-icon>update</mat-icon>
          Update training
        </button>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button class="noButton" (click)="onNoClick()">No Thanks</button>
      <button mat-button class="okButton" [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    </div>
  </div>
  