<form class="addUserForm" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <h1>Add User</h1>
    <mat-form-field appearance="fill">
      <mat-label for="name">Name</mat-label>
      <input
        type="string"
        id="name"
        formControlName="name"
        matInput
        placeholder="Name Name"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="email">email</mat-label>
      <input
        type="email"
        id="email"
        formControlName="email"
        matInput
        placeholder="email@email.com"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="password">password</mat-label>
      <input
        type="password"
        id="password"
        formControlName="password"
        matInput
        placeholder="pass"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="roles">Roles</mat-label>
      <mat-select id="roles" formControlName="roles" required multiple>
        <mat-option value=0>Administrator</mat-option>
        <mat-option value=1>Coach</mat-option>
        <mat-option value=2>BasicUser</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button>
      <mat-icon>add</mat-icon>
      Add user
    </button>
  </form>
  