<form class="addUserForm" [formGroup]="addTeamForm" (ngSubmit)="onSubmit()">
  <h1>Add Team</h1>
  <mat-form-field appearance="fill">
    <mat-label for="name">Name</mat-label>
    <input
      type="string"
      id="name"
      formControlName="name"
      matInput
      placeholder="Name Name"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label for="picture">Picture</mat-label>
    <input
      type="string"
      id="picture"
      formControlName="picture"
      matInput
      placeholder="picture url"
      required
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label for="description">description</mat-label>
    <input
      type="string"
      id="description"
      formControlName="description"
      matInput
      placeholder="description"
      required
    />
  </mat-form-field>
  <button mat-raised-button>
    <mat-icon>add</mat-icon>
    Add team
  </button>
</form>
