@use "@angular/material" as mat;

.team-page-content {
  display: flex;
  flex-direction: column;
  background-color: var(--bgLightgold);
  .picture {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    background-color: var(--bgLightgold);
    h1 {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-weight: 600;
      padding-top: 20px;
      width: 100%;
      float: center;
      position: absolute;
      z-index: 1000;
      background-color: var(--lighterGoldOpacity);
      p {
        color: var(--red);
        font-size: small;
        text-align: justify;
        line-height: 18px;
      }
      p:hover {
        color: var(--black);
      }
    }
    img {
      width: 100%;
      max-width: 1100px;
    }
  }



  .section-members, .section-trainings {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width: 100%;
    padding-top: 20px;
    h2 {
      font-weight: 700;
      margin-left: 20px;
    }
  }

  .section-members {
    background-color: var(--bgWhite);
  }

  .section-trainings {
    background-color: var(--bgLightgold);
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .table-members, .table-trainings {
      width: 80%;
      max-width: 1500px;
      display: flex;
      flex-direction: row;
      align-items: center;

      table {
        margin-left: 30px;
        margin-bottom: 30px;
        padding: 5px;
        background-color: var(--bgLightgold);
        th {
          background-color: var(--gold);
          color: var(--white);
          font-weight: 500;
          font-size: 16px;
        }
        tr:nth-child(even) {
          background: var(--bgLightgold);
        }
        tr:nth-child(odd) {
          background: var(--lighterGold);
        }
      }
      .delete {
        background-color: var(--red);
      }
      .edit {
        background-color: var(--gold);
      }
      button {
        margin-right: 5px;
      }
    }

    .table-members {
      background-color: var(--bgWhite);
    }

    .table-trainings {
      background-color: var(--lightGold);
    }

    .add-button {
      background-color: var(--gold);
      margin-left: 40px;
      margin-bottom: 30px;
      width: 20%;
    }
  }
}
