@use "@angular/material" as mat;

.team-page-content {
  display: flex;
  flex-direction: column;
  background-color: var(--bgLightgold);
  .picture {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: center;
    background-color: var(--bgLightgold);
    h1 {
      display: flex;
      align-items: center;
      flex-direction: column;
      font-weight: 600;
      padding-top: 20px;
      width: 100%;
      float: center;
      position: absolute;
      z-index: 1000;
      background-color: var(--lighterGoldOpacity);
      p {
        color: var(--red);
        font-size: small;
        text-align: justify;
        line-height: 18px;
      }
      p:hover {
        color: var(--black);
      }
    }
    img {
      width: 100%;
      max-width: 1100px;
    }
  }

  table {
    padding: 5px;
  }

  @media (min-width: 600px) {
    .members {
      display: flex;
      flex-direction: column;
    }
    
  }

  .members {
    background-color: var(--bgWhite);
    display: flex;
    flex-direction: row;
    align-items: normal;
    width: 100%;
    padding-top: 20px;
    h2 {
      font-weight: 700;
    }
  }

  .team-page-table {
    background-color: var(--bgWhite);
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    table {
      background-color: var(--bgLightgold);
      th {
        background-color: var(--gold);
        color: var(--white);
        font-weight: 500;
        font-size: 16px;
      }
      tr:nth-child(even) {
        background: var(--bgLightgold);
      }
      tr:nth-child(odd) {
        background: var(--lighterGold);
      }
    }
    .delete {
      background-color: var(--red);
    }
    .edit {
      background-color: var(--gold);
    }

    .add-button {
      width: 50%;
      padding-top: 10px;
    }

    button {
      margin-right: 5px;
    }
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 40px;
  }



  .addPlayerForm {
    display: flex;
    flex-direction: column;
    align-items: normal;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 30px;

    .bday {
      padding-bottom: 10px;
    }

    button {
      background-color: var(--gold);
      color: var(--bgWhite);
    }
  }

  .training-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: var(--bgWhite);
    // margin-right: 10px;
    h2 {
      font-weight: 700;
      margin: 20px;
    }
    table {
      margin-left: 30px;
      // margin-right: 30px;
      margin-bottom: 30px;

      th {
        background-color: var(--gold);
        color: var(--white);
        font-weight: 500;
        font-size: 16px;
      }
      background-color: var(--bgLightgold);
    }
    .delete {
      background-color: var(--red);
    }
    .edit {
      background-color: var(--gold);
    }
    background-color: var(--bgLightgold);
    tr:nth-child(even) {
      background: var(--bgLightgold);
    }
    tr:nth-child(odd) {
      background: var(--lighterGold);
    }
  }
}
