<div class="team-page-content">
  <div class="picture">
    <h1>
      Team: {{ team?.name }}
      <p>{{ team?.description }}</p>
    </h1>
    <img mat-card-image src="{{ team?.picture }}" />
  </div>
  <div class="section-members">
    <h2>Members:</h2>
    <div class="row">
      <div class="table-members">
        <table mat-table [dataSource]="dataSourcePlayers">
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let player; let i = index">{{ i }}</td>
          </ng-container>
          <ng-container matColumnDef="post">
            <th mat-header-cell *matHeaderCellDef>Post</th>
            <td mat-cell *matCellDef="let player">
              {{ player.posts | multipleListEnumToDescription: Post }}
            </td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let player">{{ player.name }}</td>
          </ng-container>
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef>Number</th>
            <td mat-cell *matCellDef="let player">{{ player.playerNumber }}</td>
          </ng-container>
          <ng-container matColumnDef="ticket">
            <th mat-header-cell *matHeaderCellDef>Ticket/Pass</th>
            <td mat-cell *matCellDef="let player">
              {{ player.ticketPass | enumIntToDescription: TicketPass }}
            </td>
          </ng-container>
          <ng-container matColumnDef="tools">
            <th mat-header-cell *matHeaderCellDef>Tools</th>
            <td mat-cell *matCellDef="let player; let i = index">
              <button
                mat-mini-fab
                class="delete"
                (click)="deleteUserFromTeam(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
              <button
                mat-mini-fab
                class="edit"
                (click)="openDialog(i, 'members')"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
      <button class="add-button" mat-raised-button>
        Add member to {{ team?.name }}
      </button>
    </div>
  </div>

  <div class="section-trainings">
    <h2>Trainings:</h2>
    <div class="row">
      <div class="table-trainings">
      <table
        mat-table
        [dataSource]="dataSourceTrainings"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let training; let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let training">
            {{ training.date | date: "short" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>Location</th>
          <td mat-cell *matCellDef="let training">{{ training.location }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let training">
            {{ training.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="tools">
          <th mat-header-cell *matHeaderCellDef>Tools</th>
          <td mat-cell *matCellDef="let player; let i = index">
            <button
              mat-mini-fab
              class="delete"
              (click)="deleteTrainingFromTeam(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-mini-fab
              class="edit"
              (click)="openDialog(i, 'trainings')"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsTrainings"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsTrainings"
        ></tr>
      </table>
    </div>
      <button class="add-button" mat-raised-button>
        Add training to {{ team?.name }}
      </button>
    </div>
  </div>
</div>
