<div class="relative w-full h-64 md:h-80 lg:h-[28rem] pt-0">
  <img
    [src]="team?.pictureLink || 'assets/szandi.jpg'"
    alt="Teams background"
    class="w-full h-full object-cover object-top"
  />

  <div
    class="absolute inset-0 bg-black bg-opacity-10 flex justify-center items-end pb-8"
  >
    <div class="w-full max-w-screen-xl text-start mx-auto px-48">
      <h1 class="text-4xl md:text-6xl text-white font-bold mb-6">
        {{ team?.name || "Teamname" }}
      </h1>
    </div>
  </div>
</div>

<div class="max-w-screen-xl mx-auto px-48 py-10">
  <div class="space-y-4 mb-16">
    <div class="flex items-center mb-6 pb-2">
      <h2 class="text-3xl font-bold text-[var(--primary)]">Description:</h2>
    </div>
    <div class="pb-8">
      {{ team?.description }}
    </div>

    <div class="flex items-center justify-between pb-2 mb-6">
      <h2 class="text-3xl font-bold text-[var(--primary)]">Members</h2>
      <button class="bg-[var(--primary)] text-white px-4 py-2 rounded-full shadow hover:bg-[var(--text-dark)] transition">
        Add Member
      </button>
    </div>

    <div
      class="max-w-4xl mx-auto pb-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 justify-items-center"
    >
      <app-user-card
        *ngFor="let u of players"
        [user]="u"
        class="w-[260px]"
      ></app-user-card>
    </div>

    <div class="flex items-center justify-between pb-2 mb-6">
      <h2 class="text-3xl font-bold text-[var(--primary)]">Trainings</h2>
      <button class="bg-[var(--primary)] text-white px-4 py-2 rounded-full shadow hover:bg-[var(--text-dark)] transition">
        Add Training
      </button>
    </div>
    <div
      class="max-w-4xl mx-auto pb-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 justify-items-center"
    >
      <app-training-card
        *ngFor="let t of trainings"
        [training]="t"
        class="w-[260px]"
      ></app-training-card>
    </div>

    <div class="flex items-center justify-between pb-2 mb-6">
      <h2 class="text-3xl font-bold text-[var(--primary)]">Coaches</h2>
      <button class="bg-[var(--primary)] text-white px-4 py-2 rounded-full shadow hover:bg-[var(--text-dark)] transition">
        Add Coach
      </button>
    </div>

    <div
      class="max-w-4xl mx-auto pb-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 justify-items-center"
    >
      <app-user-card
        *ngFor="let u of coaches"
        [user]="u"
        class="w-[260px]"
      ></app-user-card>
    </div>

    <div class="flex items-center justify-between pb-2 mb-6">
      <h2 class="text-3xl font-bold text-[var(--primary)]">Tournaments</h2>
      <button class="bg-[var(--primary)] text-white px-4 py-2 rounded-full shadow hover:bg-[var(--text-dark)] transition">
        Add Tournament
      </button>
    </div>

    <div
      class="max-w-4xl mx-auto pb-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 justify-items-center"
    >
      <app-event-card
        *ngFor="let t of tournaments"
        [tournament]="t"
        class="w-[260px]"
      ></app-event-card>
    </div>

    <div class="flex items-center justify-between pb-2 mb-6">
      <h2 class="text-3xl font-bold text-[var(--primary)]">Matches</h2>
      <button class="bg-[var(--primary)] text-white px-4 py-2 rounded-full shadow hover:bg-[var(--text-dark)] transition">
        Add Match
      </button>
    </div>

    <div
      class="max-w-4xl mx-auto pb-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 justify-items-center"
    >
      <app-match-card
        *ngFor="let m of matches"
        [match]="m"
        class="w-[260px]"
      ></app-match-card>
    </div>
  </div>
</div>
