<div class="bg-white shadow-md rounded-xl flex w-full overflow-hidden">
    <input
      type="text"
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchChange()"
      placeholder="Search Events"
      class="flex-1 px-4 py-3 text-sm focus:outline-none"
    />
  
    <div class="w-[1px] bg-[var(--primary)]"></div>
  
    <select
      [(ngModel)]="selectedFilter"
      class="px-4 py-3 text-sm focus:outline-none"
    >
      <option value="name">Name</option>
      <option value="location">Location</option>
    </select>
  </div> 