<div
  class="bg-white rounded-2xl shadow-md hover:shadow-2xl transition w-full max-w-[18rem] sm:max-w-[20rem] overflow-hidden flex flex-col justify-between relative"
>
  <!-- Date badge -->
  <div
    class="absolute top-3 left-3 bg-white text-[var(--primary)] text-center rounded-lg px-2 py-1 text-xs font-bold shadow-sm leading-tight"
  >
    <div>{{ month }}</div>
    <div class="text-sm font-semibold">{{ day }}</div>
  </div>

  <!-- Image -->
  <div class="relative h-40 sm:h-44 bg-gray-100">
    <img
      [src]="training.pictureLink"
      (error)="imageFallback($event)"
      alt="Training image"
      class="w-full h-full object-cover"
    />
    <button
      class="absolute top-3 right-3 text-white bg-[var(--primary)] rounded-full w-8 h-8 flex items-center justify-center shadow-md"
    >
      <mat-icon fontIcon="star_border" class="text-white text-base"></mat-icon>
    </button>
  </div>

  <!-- Content -->
  <div class="px-4 pt-4 pb-2 text-start">
    <h3 class="text-[var(--primary)] font-semibold text-base leading-tight">
      {{ training.team.name || 'Unnamed Team' }} 's training
    </h3>
    
    <!-- Venue -->
    <p class="text-sm mt-1">
      <span class="font-semibold">Venue: </span>
      <span>
        {{ training.location.name || 'Unknown Location' }}
      </span>
    </p>

    <p class="text-sm mt-1">
      <span class="font-semibold">Price:</span> {{ training.priceType }}
    </p>
  </div>

  <!-- Read More -->
  <div class="pb-4 px-4 flex justify-end">
    <a
      [routerLink]="['/training', training.id]"
      class="bg-[var(--primary)] text-white text-xs font-medium px-4 py-2 rounded-full shadow hover:bg-[var(--text-dark)] transition inline-block"
    >
      Read more
    </a>
  </div>
</div>
