<div class="relative w-full h-64 md:h-80 lg:h-[28rem] pt-0">
  <img
    [src]="event?.pictureLink || 'assets/szandi.jpg'"
    alt="Event background"
    class="w-full h-full object-cover object-center"
  />

  <div
    class="absolute inset-0 bg-black bg-opacity-10 flex justify-center items-end pb-8"
  >
    <div class="w-full max-w-screen-xl text-start mx-auto px-48">
      <h1 class="text-4xl md:text-6xl text-white font-bold mb-6 text-shadow-lg">
        {{ event?.name || "EventName" }}
      </h1>
    </div>
  </div>
</div>

<div class="max-w-screen-xl mx-auto sm:px-6 lg:px-8 py-6">
  <div class="space-y-4 mb-16 px-4 sm:px-6 lg:px-40">
    <div class="mb-6">
      <h2 class="text-3xl font-bold text-[var(--primary)] mb-2">
        Description:
      </h2>
      <p class="text-base leading-relaxed">
        {{ event?.description }}
      </p>
    </div>
    <div class="flex items-center justify-between pb-2 mb-6">
      <div class="flex items-center mb-6 pb-2">
        <h2 class="text-3xl font-bold text-[var(--primary)]">Location:</h2>
      </div>
      <div class="pb-8">
        {{ event?.location?.name }}
      </div>
    </div>
    <div class="flex items-center justify-between pb-2 mb-6">
      <div class="flex items-center mb-6 pb-2">
        <h2 class="text-3xl font-bold text-[var(--primary)]">Date:</h2>
      </div>
      <div class="pb-8">{{ year }} {{ month }} {{ day }}</div>
    </div>

    <div class="flex items-center justify-between pb-2 mb-6">
      <h2 class="text-3xl font-bold text-[var(--primary)]">Teams</h2>
      <button
        class="bg-[var(--primary)] text-white px-4 py-2 rounded-full shadow hover:bg-[var(--text-dark)] transition"
      >
        Apply
      </button>
    </div>
  </div>

  <div
    class="max-w-4xl mx-auto pb-8 gap-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 justify-items-center overflow-hidden"
  >
    <app-team-card *ngFor="let t of event?.teams" [team]="t" class="w-[260px]">
    </app-team-card>
  </div>

  <div class="max-w-screen-xl mx-auto  py-6 sm:px-6 lg:px-40">
    <h2 class="text-3xl font-bold text-[var(--primary)] mb-4">Schedule</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 text-center mb-4 font-semibold text-[var(--primary)] text-sm">
    <div *ngFor="let c of [].constructor(courts); let i = index">
      Court {{ i + 1 }}
    </div>
  </div>
    <!-- Time slots -->
    <div class="space-y-8">
      <div
        *ngFor="let slot of schedule; let i = index"
        [ngClass]="i % 2 === 0 ? 'bg-gray-50' : 'bg-white'"
        class="rounded-xl p-4"
      >
        <h3 class="text-[var(--primary)] text-lg font-semibold mb-2 px-2">
          {{ slot.time }}
        </h3>

        <div
          class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 justify-items-stretch px-2"
        >
          <ng-container *ngFor="let match of slot.matches; let i = index">
            <div class=" flex flex-col items-center">

              <app-match-card
                [match]="match"
                class=""
              ></app-match-card>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
