<div class="relative w-full h-64 md:h-80 lg:h-[28rem]">
  <img
    src="assets/tournament.jpg"
    alt="Teams background"
    class="w-full h-full object-cover"
  />

  <div
    class="absolute inset-0 bg-black bg-opacity-10 flex justify-center items-end pb-8"
  >
    <div class="w-full max-w-screen-xl text-start mx-auto px-48">
      <h1 class="text-4xl md:text-6xl text-white font-bold mb-6 text-shadow-lg">Events</h1>
      <div class="w-full flex justify-center">
        <div class="w-full max-w-screen-xl">
          <app-team-search-bar class="w-full"></app-team-search-bar>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="max-w-screen-xl mx-auto px-6 py-6">
  <div
    class="max-w-4xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 justify-items-center"
  >
    <app-event-card
    *ngFor="let t of tournaments"
    [tournament]="t"
    class="w-[260px]">
    </app-event-card>

</div>
</div>
