<form
class="addPlayerForm"
[formGroup]="addPlayerForm"
(ngSubmit)="onSubmit()"
>
<br>
<h1>Add Player Details</h1>
<mat-form-field appearance="fill">
    <mat-label for="user">User</mat-label>
    <mat-select id="user" formControlName="user" required>
      <mat-option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</mat-option>
    </mat-select>
  </mat-form-field>
<mat-form-field class="bday" appearance="fill">
  <mat-label for="birthday">Birthday</mat-label>
  <input
    matInput
    id="birthday"
    formControlName="birthday"
    [matDatepicker]="picker"
    required
  />
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle
    matIconSuffix
    [for]="picker"
  ></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label for="phone">Phone</mat-label>
  <input
    type="text"
    id="phone"
    formControlName="phone"
    matInput
    placeholder="+3610000000"
    required
  />
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label for="number">Player Number</mat-label>
  <input
    type="number"
    id="number"
    formControlName="number"
    matInput
    required
  />
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label for="post">Post</mat-label>
  <mat-select id="post" formControlName="posts" required multiple>
    <mat-option value=0>Hitter</mat-option>
    <mat-option value=1>Setter</mat-option>
    <mat-option value=2>Libero</mat-option>
    <mat-option value=3>Receiver</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label for="ticket">Ticket Pass</mat-label>
  <mat-select id="ticket" formControlName="ticket" required>
    <mat-option value=0>Ticket</mat-option>
    <mat-option value=1>Student Ticket</mat-option>
    <mat-option value=2>Pass</mat-option>
    <mat-option value=3>Student Pass</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label for="gender">Gender</mat-label>
  <mat-select id="gender" formControlName="gender" required>
    <mat-option value=0>Man</mat-option>
    <mat-option value=1>Woman</mat-option>
    <mat-option value=2>Other</mat-option>
  </mat-select>
</mat-form-field> 
<button mat-raised-button>
  <mat-icon>add</mat-icon>
  Add member
</button>
</form>
