/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  --green: rgb(36, 86, 43);
  --lightgreen: rgb(83, 167, 120);
  --bgWhite: rgb(255, 251, 237);
  --red: rgb(150, 8, 19);
  --gold: rgb(189, 151, 58);
  --bgLightgold: rgb(224, 202, 155);
}
