@use '@angular/material' as mat;

h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  a {
    color: var(--red);
    font-size: medium;
  }
}

h2 {
  margin-left: 20px;
  margin-top: 20px;
}

table {
  padding: 5px;
}

.team-page-content {
  display: flex;
  flex-direction: column;
  table {
    @include mat.elevation-transition();
    @include mat.elevation(2);
  
    &:active {
      @include mat.elevation(8);
    }
  }
  button {
    margin-right: 5px;
  }
  width: 50%;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 40px;
}

.addPlayerForm {
  display: flex;
  flex-direction: column;
  align-items:normal;
  padding-left: 20px;
  width: 500px;
  padding-bottom: 30px;

  .bday{
    padding-bottom: 10px;
  }
}

.members {
  display: flex;
  flex-direction: row;
}
