@use '@angular/material' as mat;

h1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  a {
    color: var(--red);
    font-size: medium;
  }
}

h2 {
  margin-left: 20px;
  margin-top: 20px;
}

table {
  padding: 5px;
}

.team-page-table {
  background-color: var(--white);
  width: 100%;
  table {
    background-color: var(--lightgold);
    th {
      background-color: var(--gold);
      color: var(--white);
      font-weight: 700;
      font-size: 16px;
    }
    tr:nth-child(even) {background: var(--lightgold)}
    tr:nth-child(odd) {background: var(--white)}
  }
  button {
    margin-right: 5px;
  }
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 40px;
}

.addPlayerForm {
  display: flex;
  flex-direction: column;
  align-items:normal;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 30px;

  .bday{
    padding-bottom: 10px;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgba(0,0,0,.04);
}

  .mat-mdc-text-field-wrapper {
    background-color: var(--gold);
  }

  input {
    background-color: var(--lightgold);
  }
  button {
    background-color: var(--gold);
    color: var(--white);
  }


}

.members {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items:normal;
  width: 100%;
}
